    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <h2> About </h2>
                <p>
                  小学一年生の頃はほとんど英語を喋ることが出来ませんでした。
                  しかし大学受験ではブラウン大学へ受かり、ブラウン大学を卒業してから今は大学院で数学の博士課程の勉強をしています。
                </p>
                <p>
                  僕もアメリカの小学生の頃英語力が伸びず苦労した経験があります。その経験を活かし英語力に困っている生徒をサポートしています。
                </p>
            </div>
        </div>
    </section>
