    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">{{ site.title }}</h1>
                        <h2 class="intro-text">{{ site.description }}</h2>
                          <p>
                            英語力を高め、アメリカの教育システムを攻略しましょう。
                          </p>
                          <p>
                            読解力や作文力が弱いとアメリカの教育システムの中で成功するのは非常に困難な事です。
                            アメリカの大学受験はもちろん他の教科の勉強にも必要不可欠な知識です。英語力を高め理想の大学生活を送るために一緒に頑張りましょう。
                          </p>

                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
