<style>
  table, th, td {
    border: 1.5px solid white;
    border-collapse: collapse;
    padding: 5px;
  }
  div {
    align-items: center
  }
  .center {
  margin-left: auto;
  margin-right: auto;
}
</style>

<section id="rates" class="content-section text-center">
    <div class="rates-section text-center">
        <div class="container">
          <h2>Rates</h2>
          <table>
            <tr>
              <th>　　教科レベル</th>
              <th>授業料 (一時間あたり)</th>
            </tr>
            <tr>
              <td>中学レベル</td>
              <td>80ドル</td>
            </tr>
            <tr>
              <td>高校レベル</td>
              <td>90ドル</td>
            </tr>
            <tr>
              <td>受験勉強（SAT・ACT）</td>
              <td>100ドル</td>
            </tr>
          </table>
        </div>
    </div>
</section>
